@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(140, 168, 184);
}

h1 {
  color: #195b87 !important;
}

#logo {
  width: 100px;
  text-align: center;
}

#main-container {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  padding: 20px;
  border-radius: 10px;
  margin-top: 25px;
}

.btn-folder {
  background-color: rgb(241, 241, 241);
  font-family: "Roboto";
  font-size: 16px;
}

.btn-folder:hover {
  background-color: #198754;
  color: white;
}

.active {
  background-color: #195b87 !important;
  color: white !important;
}
.page-link {
  color: #195b87;
}
.page-link.active {
  border-color: #195b87 !important;
}

.folder-img {
  width: 30px;
  margin-right: 1rem;
}

.thesis-list {
  background-color: white;
  border-radius: 5px;
}
.cursor-pointer {
  cursor: pointer;
}

.listening-modules {
  opacity: 0;
  transition: opacity 2s;
}

#cursor-ball {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: tomato;
  visibility: hidden;
  margin-left: -15px;
  /* margin-top: -10px; */
}

.trans_025 {
  -webkit-transition: transform 0.25s ease-in-out;
}

.ball-btn {
  display: flex;
  padding: 0.5rem;
  border-radius: 5px;
  background: white;
  overflow: hidden;
  align-items: center;
  vertical-align: baseline;
}

.ball-btn-text {
  margin: 0;
  padding: 0;
}

.z-10 {
  z-index: 10;
}

.ball-btn:hover {
  cursor: pointer;
  color: white;
}

@media (max-width: 575px) {
  #main-container {
    border-radius: 0;
    min-height: 100vh;
    margin: 0;
  }
}
